.login_container {
    -fx-background-color: #EEEEEE;
}

/* Logo Container */
.login_logo_container {
    -fx-background-color: #132A13;
    -fx-alignment: center;
}

.login_logo_container Text {
    -fx-font-size: 1.5em;
    -fx-fill: #FFFFFF;
}



.login_logo_container FontAwesomeIconView {
    -fx-fill: #ECF39E;
    -fx-font-size: 2em;
}

.account_selector {
    -fx-background-color: #ECF39E;
}

.account_selector .label {
    -fx-text-fill: #132A13;
}

.account_selector .arrow {
    -fx-background-color: #132A13;
}

#choice_box_popup_menu {
    -fx-background-color: #ECF39E;
    -fx-text-fill: #132A13;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.login_form_container {
    -fx-spacing: 15;
    -fx-alignment: top_left;
}

.login_form_container .label {
    -fx-text-fill: #132A13;
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.input_field {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #132A13;
    -fx-pref-height: 30;
    -fx-font-size: 1.2em;
}


.login_form_container Button {
    -fx-background-color: #132A13;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.2em;
    -fx-pref-width: 100;
    -fx-pref-height: 30;
}

.login_form_container Button:hover {
    -fx-cursor: hand;
}

.error_label{
    -fx-text-fill: #FF0000 !important;
}